/* .c-container{
    justify-content: space-between;
    gap: 1rem;
    display: flex;
  /* gap: 20px;  */
/* }
.c-container>img{
   
}  */
.c-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    gap: 10px; /* Adjust the gap as needed */
  }
  
  /* Optional: Add styles for the images */
  .c-container>img{
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto;
  }